[tool.poetry]
name = "pydicts"
version = "0.5.0"
description = "Module to use dictionaries in various situations"
authors = ["turulomio <turulomio@yahoo.es>"]
license = "GPL-3.0"
readme = "README.md"
exclude = [
    "pydicts/devscripts.py"
]

[tool.poetry.dependencies]
python = "^3.10"
tabulate = "^0.9.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.0"
poethepoet = "^0.19.0"
pylatex = "^1.4.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
release = { script = "pydicts.devscripts:release" }
translate = { script = "pydicts.devscripts:translate" }
test   = "pytest" 

[project.urls]
homepage = "https://github.com/turulomio/pydicts/"
repository = "https://github.com/turulomio/pydicts/"
changelog = "https://github.com/turulomio/pydicts#changelog"
